/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

<<<<<<< HEAD
/* GENERAL STYLES */
* {
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
=======
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #25252B;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fget.wallhere.com%2Fphoto%2Fsimple-simple-background-minimalism-black-background-sunset-mountains-digital-art-1382917.jpg&f=1&nofb=1');
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: 'Poiret One', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
>>>>>>> 5bb465a18f06f9471a508e5069f7dccc7840e072
}

main {
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: #000000bf;
    background-image: url("https://i.pinimg.com/originals/ed/a5/73/eda5739966cb33768d8ad0d77d7307ce.gif");
    background-position: center;
    background-size: cover;
    flex-direction: column;
    font-family: "Poiret One", sans-serif;
    height: 100vh;
    padding: 1rem;
}

<<<<<<< HEAD
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

/* UTILITY STYLES */
.flex {
    align-items: center;
=======
.time-section {
    width: 100%;
>>>>>>> 5bb465a18f06f9471a508e5069f7dccc7840e072
    display: flex;
    justify-content: center;
}

<<<<<<< HEAD
/* SITE STYLES */
.time-container {
    display: flex;
    flex-direction: column;
    width: 100%;
=======
#time {
    font-size: 5rem;
    text-align: center;
>>>>>>> 5bb465a18f06f9471a508e5069f7dccc7840e072
}

.time-container * {
    text-align: center;
}

#day,
#date {
    font-family: "Turret Road", sans-serif;
    font-size: 2rem;
}

#time {
    font-size: 4rem;
}

#greeting {
<<<<<<< HEAD
    font-family: "Megrim", sans-serif;
    font-size: 2.5rem;
    margin: 1rem 1rem 1.25rem;
}

#links {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
=======
    padding:20px 0px 10px 0px;
    font-size: 40px;
    font-family: 'Megrim', sans-serif;
}

#link-container {
    width:100%;
    max-width: 600px;
    padding-top:20px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
>>>>>>> 5bb465a18f06f9471a508e5069f7dccc7840e072
}

#links > * {
    border: 1px solid white;
    border-radius: 25px;
    padding: 0.75rem;
    width: fit-content;
}

/* ===TABLET+ VERSION=== */
@media only screen and (min-width: 768px) {
    /* SITE STYLES */
    #day,
    #date {
        font-size: 2rem;
    }

    #time {
        font-size: 5.95rem;
    }

    #greeting {
        font-size: 2.5rem;
        margin: 1.5rem 1rem 2rem;
    }

    #links {
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    #links > * {
        border-radius: 40px;
        font-size: 1.25rem;
        padding: 1rem 1.5rem;
    }
}

@media (max-width: 600px) {
    #link-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    a {
        width: fit-content;
    }
}